* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: auto;
  border: 0;
  padding: 0;
  background-color: #fff;
}

main {
  text-align: center;
  width: 560px; /* you have to have a size or this method doesn't work */
  height: 315px; /* think about making these max-width instead - might give you some more responsiveness */
  top: 0;
  right: 0; /* confuse it i guess */
  bottom: 0;
  left: 0;
  margin: auto; /* make em equal */
}

main > h1 {
  text-align: center;
  font-size: 3.5vw;
}

.container {
  position: relative;
  overflow: hidden;
  width: 90%;
}

.responsive-iframe {
  width: 90%;
  height: 90%;
}